@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* 
.destinoContenedor {
    height: 400px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.664)), url(../../../assets/Argentina.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    margin-top: 20px;

}


.contenidoPadre {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    

}

.contenido {

    padding: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.heroeContenedor h2 {
    font-size: 2em;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.descripcion {
    width: 472;
    font-size: 1em;
    color: #FFF;
    line-height: 30px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    word-wrap: break-word;
} */

.destinoContenedor {  
    display: grid;
    height: 25rem;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.664)), url(../../../assets/Argentina.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    justify-items:center;
    align-items: flex-start;
    background-attachment: fixed;
    margin-top: 1.25rem;
    grid-template-columns: 2fr;
    grid-template-rows: 2.1fr;
    gap: 0.625rem 0.625rem;
    grid-auto-flow: row;
    grid-template-areas:
      "heroeContenedor";
  }
  
  .heroeContenedor {  
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0.5rem 0.5rem;
    grid-auto-flow: row;
    grid-template-areas:
      "tituloHeroe tituloHeroe tituloHeroe"
      "contenidoPadre contenidoPadre contenidoPadre";
    grid-area: heroeContenedor;
  }
  
  .tituloHeroe { 
    display: grip;
    grid-area: tituloHeroe; 
    font-size: 2em;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}
  
  .contenidoPadre {  
    display: grid;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 4rem 4rem;
    grid-auto-flow: row;
    grid-template-areas:
      "cardDestino1 cardDestino2 cardDestino3";
    grid-area: contenidoPadre;
  }
  
  .cardDestino1 { 
    grid-area: cardDestino1; 
    background-image:url(../../../assets/cardBariloche.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 0.313rem;
    width: 12rem;
    height: 12.5rem;
    justify-content: center;
    align-content: center;
    
}

  
  .cardDestino2 { 
    grid-area: cardDestino2; 
    background-image:url(../../../assets/cardCordoba.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 0.313rem;
    width: 12rem;
    height: 12.5rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
  
  .cardDestino3 { 
    grid-area: cardDestino3;
    background-image:url(../../../assets/cardMendoza.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 0.313rem;
    width: 12rem;
    height: 12.5rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    
  }  

  .atraccionesDestino{
    display: grip;
    grid-area: contenidoPadre; 
    margin-top: 9rem;
    align-content: center;
    font-size: 0.5em;
    font-weight: bold;
    background: linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.664));

    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }

.icon{
    padding-right: 3px; 
    color: var(--amarillo);
}

@media screen and (max-width:760px) { 

    .contenido {
        padding: 1rem;

    }

    .contenido h2 {
        font-size: 2.5em;
    }

    .heroeContenedor{
        flex-direction: column  ;
    }

    .cardDestino2,.cardDestino3{
       display: none;
       
    }
}

/* @media screen and (max-width:1400px){
    
    .cardDestino3{
        display: none;
    }
} */