*{
    padding:0;
    box-sizing: border-box;
    margin: 0;
}

.seccionCabeceraProducto{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    color: black;
    font-family: 'Poppins', sans-serif;
    background-color: var(--amarillo); 
    margin-bottom: 0;
}

.opcionVolver{ 
 color: black;

}