*{
    padding:0;
    box-sizing: border-box;
    margin: 0;
}

.seccionCabeceraProducto{
    display: flex;
    align-content: flex-start;
    width: 100%;
    height: 10vh;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
  
}

/*.opcionVolver{ 

}*/