*{
    padding:0;
    box-sizing: border-box;
    margin: 0;
}

.seccionCabeceraProducto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin-bottom: 0;
    padding: 1rem;
    color: black;
    font-family: 'Poppins', sans-serif;
    background-color: var(--amarillo); 
  
}

.divUnoSeccionCabeceraProducto{
    display: flex;
    flex-direction: column;
   
}

.divDosSeccionCabeceraProducto{ 
    display: flex;
    flex-direction: column;


}

.seccionCabeceraProductoDivUnoParrafoUno{
    display: flex;
    padding-top: 15px;
    font-size: 10px;
    font-weight: bold;
}

.seccionCabeceraProductoDivUnoParrafoDos{
    display: flex;
    font-size: 18px;
    font-weight: bold; 
}