*{
    padding:0;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 0;
}

.seccionCaracteristicasPorducto{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.caracteristicas {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.icons{
    color: var(--amarillo);
    font-size: 1.6rem;
}


.caracteristicasDIV {
    display: flex;
    gap: 10px;
}

.caracteristicasDIV p {
    font-size: 1.1em;
}