*{
    padding:0;
    box-sizing: border-box;
    margin: 0;
}

.seccionDatosUbicacionProducto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh; 
    padding: 1rem;
    margin-bottom: 0;
    color: black;
    font-family: 'Poppins', sans-serif;
    background-color: darkgray;
    border: solid 3px blue;
}

.divUnoSeccionDatosUbicacionPorducto{
    display: flex;
    align-content: center;
    
   
}

.divDosSeccionDatosUbicacionPorducto{
    display: flex;
    flex-direction: column;
    font-size: 8px;
    border: solid 3px red;
    padding: 0;
}

.imgUbicacionSeccionDatosUbicacionPorducto{
    display: flex;
    padding-right: 3px;
 
    
}





