* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    margin-top: 0;
}

.seccionPoliticasPorducto {
    display: flex;
    flex-direction: column;
    margin: 20px;


}



.politicasProd {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}



.contenedorRequisitos ul {
    font-size: 1em;
    list-style-type: disc;
    padding: 0px;
}

.contenedorRequisitos li {
     padding-left: 0;
}

.contenedorRequisitos h4 {
    font-size: 1em;
}

.contenedorRequisitos {
    width: 300px;
    text-align: justify;
}


hr {
    background-color:  var(--amarillo);
    height: 3px;
    font-weight: 800;
}