* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    margin-top: 0;
}

.seccionPoliticasPorducto {
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
    word-spacing: normal;


}



.politicasProd {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}



.contenedorRequisitos ul {
    font-size: 1em;
    list-style-type: disc;
    padding: 0px;
}

.contenedorRequisitos li {
     padding-left: 0;
}

.contenedorRequisitos h3 {
    font-size: 1em;
    word-spacing: normal;
}

.contenedorRequisitos {
    width: 21rem;
}


hr {
    background-color:  var(--amarillo);
    height: 0.188rem;
    font-weight: 800;
}

@media screen 
  and (min-width: 760px) 
  and (max-width: 1000px) {

    .politicasProd {
        display: grid;
        justify-content: center;
        align-content: flex-start;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        
    }

    .contenedorRequisitos h4 {
        display: grid;
        justify-content: center;
        align-content: flex-start;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        /* height: 100%; */
    }
  }

  @media screen and (max-width:760px) {
    .contenedorRequisitos h4 {
        display: grid;
        justify-content: center;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        /* height: 100%; */
    }
  }