
.categoria_section {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 350px)) ;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-bottom: 80px;
}

.categoria_article {
    align-items: center;
    background-color: var(--grisO);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: rgb(0 0 0/16%) 1px 1px 10px;
    border-radius: 8px;
    color: var(--amarillo);
    display: flex;
    font-weight: 900;
    font-size: 45px;
    height:200px;
    justify-content: center;
    transition: .3s;
}

.categoria_article:hover {
    background-color: unset;
    filter: blur(0);
}

/* .categoria_article:hover .categoria_p {
    visibility: hidden;
}

.categoria_p {
    backdrop-filter: blur(2px);
    width: 100%;
} */

.categoria_figure {
    position: relative;
    display: flex;
    justify-content: center;
}

.categoria_img {
    max-width:300px;
    opacity: 0.2;
    filter: blur(2px);
}

.categoria_img:hover {
  opacity: 1.0;
  cursor: pointer;
  filter: blur(0px);
}

.categoria_figcaption {
    position: absolute;
    font-size: xxx-large;
    text-align: center;
    top: 35%;
    left: 0;
    right: 0;
}

.categoria_figcaption:hover {
    display: none;
}

.categoria_img:hover + .categoria_figcaption {
    visibility: hidden;
}