*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.detalleReserva{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 50%;
}

.imagenReserva{
    width: 100%;
    
}