*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sectionDetalle{
    display: flex;
    width: 100%;
    padding: 0.75rem;
    
   
}


.detalleReserva{
    display: flex;
    width: 28rem;
    margin-top: 0.313px;
    flex-direction: column;
    align-self: flex-end;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 3px;
    border-radius: 8px;
    background-color: #FFF;
   
 
}

.tituloReserva{
    display: flex;
    margin-bottom: 0;
    padding: 1.25rem;
    font-size: 1.5em;
   
}
.imagenReserva{
   
    background-image:url(../../../assets/front.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 20rem;
    justify-content: center;
    align-content: center; 
   
}

.ubicacionReserva{
    display: flex;
    padding-left: 0.313rem;
    
}

.detalleUbicacion{  
    display: flex;
    flex-direction: column;
}

.calificacionContainer{
    padding: 1.25rem;
}

.calificaionEstrellas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--amarillo);
}

.detallleNombre{
    align-self: flex-start;
    padding:1.25rem; 
}

 .detalleCategoria{
    color: grey;
    font-weight: bold;
    padding: 1.25rem;
    margin-bottom: 0;
}

.iconoGlobo{
    display: flex;
    justify-content:flex-start;
    margin-top: 0.313rem;
    font-size: 0.938rem;
    
}

.icon{
    margin-right: 0.313rem;
    color: var(--amarillo);
}

.iconUbi{
    margin-right: 0.313rem;
    color: var(--grisO);
}

.horariosReserva{
    padding: 1.25rem;
    justify-content: space-around;
}

.reservaCheckIn, .reservaCheckOut{
    display: flex;
    justify-content: space-between;
}

.inputIn, .inputOut{
    appearance: none;
color: #1D1D1D;
border:none;
background:#FFF;
padding: 4px;
display: inline-block;
visibility: visible;
width: 140px;
}

.botonReservaContainer{
    display: flex;
    justify-content: center;

}

.botonReserva {
    background-color: var(--amarillo);
    border-radius: 8px;
    border-color: var(--amarillo);
    padding: 0.5rem;
    width: 100%;
    
  }
