@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.contenedorPadre {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
}

.tituloCategorias {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

.tituloCategorias h3 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: var(--grisO);
   /*color: #fff;*/
}

.tituloCategorias p {
    font-size: 1em;
    font-weight: lighter;
    text-align: center;
    color: var(--gris);
    
}


.categoria_section {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 200px)) ;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 20px;
    background-color: transparent;
    

}



.categoria_article {
    align-items: center;
    background-color: whitesmoke;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: rgb(0 0 0/16%) 1px 1px 10px;
    border-radius: 8px;
    color: var(--grisO);
    display: flex;
    font-weight: 900;
    font-size: 3em;
    height:150px;
    justify-content: center;
    transition: .3s;
    opacity: 0.8;
}

.categoria_article:hover {
    background-color: unset;
    filter: blur(0);
    opacity: 1;
}

/* .categoria_article:hover .categoria_p {
    visibility: hidden;
}

.categoria_p {
    backdrop-filter: blur(2px);
    width: 100%;
} */

.categoria_figure {
    position: relative;
    display: flex;
    justify-content: center;
}

.categoria_img {
    max-width:200px;
    width: 100%;
    opacity: 0.2;
    filter: blur(2px);
}

.categoria_img:hover {
  opacity: 1.0;
  cursor: pointer;
  filter: blur(0px);
}

.categoria_figcaption {
    position: absolute;
    font-size: 0.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    text-align: center;
    top: 35%;
    left: 0;
    right: 0;
}

.categoria_figcaption:hover {
    display: none;
}

.categoria_img:hover + .categoria_figcaption {
    visibility: hidden;
}


@media screen and (max-width:760px) { 

    .categoria_section {
        grid-template-columns: repeat(2, minmax(50px, 200px));
    }

}