@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.caracteristicas {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.icons{
    color: var(--amarillo);
}

.contenedorPrecio {
    display: flex;
    justify-content: center;
}
.contenedorPrecio p, .contenedorPrecio span{
   margin: 0px;
   padding: 0px;
}

.tituloCards {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: var(--amarillo) solid 1px;

}

.tituloCards h3 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: var(--grisO);
    
}

.tituloCards span {
    font-size: 0.4em;
    font-weight: lighter;
    color: var(--grisC);
    
}

.vp90 {
    height: 90vh;
}

.mostrarResultadosFiltro {

 padding-bottom: 20px;
 display: flex;
 flex-wrap: wrap;
 gap:10px;
}

.contenedorCard {
    max-width: 350px;
    
}

.caracteristicasDIV {
    display: flex;
    margin: .5rem;
}

.caracteristicasDIV p {
    margin: 0;
    margin-left:5px
}



.icon {
    font-size: 1.5em;
    position: absolute;
    right: 0;
    padding: 10px;
    color: #FFF;
    box-shadow: rgb(0 0 0/16%) px 1px 3px;
    
}

.imagenAuto {
    max-height: 300px;
    object-fit: cover;
}

.botonVolver {
    width: 5rem;
    align-self: flex-end;
    margin-bottom: auto;
    height: auto;
    padding: 10px;
    border-radius: 8px;
}


@media screen 
  and (min-width: 760px) 
  and (max-width: 1000px) {

    .caracteristicas p { 
        font-size: 14px;
    }

    .contenedorPrecio {
        display: none;
    }

    .contenedorCard {
        max-width: 270px;
        
    }

    .mostrarResultadosFiltro {
        max-width: 80%;
    }

    .botonVolver {
        width: 2rem;
        align-self: center;
        margin-bottom: auto;
        height: auto;
        padding: 5px;
        border-radius: 8px;
    }
    
  }

  @media screen and (max-width:760px) {
    .contenedorResultadoPadre {
        flex-direction: column;
        width: 100%;
        padding: 0px 20px 20px 10px;
    }

    .botonVolver {
        width: 2rem;
        align-self: center;
        margin-bottom: auto;
        height: auto;
        padding: 5px;
        border-radius: 8px;
    }

    .tituloCards {
        gap: 10px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
        border-bottom: var(--amarillo) solid 1px;
    
    }

    .tituloCards  h3 {
        font-size: 1.3em;
        margin-bottom: 0px;
    }

    .divtitulo {
        display: flex;
        align-items: center;
    }
    
  }