


.heroeContenedor {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.158),rgba(0, 0, 0, 0.315)), url("../../../assets/CompactoRoad.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}




.contenidoPadre {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 3rem;

    

}



.contenido h2 {
    font-size: 3.5em;
    color: #FFF;
}

.descripcion {

    font-size: 1.1em;
    color: #FFF;
    line-height: 30px;
    padding-bottom: 20px;
    font-weight: 200;
}

@media screen and (max-width:760px) { 

    .contenidoPadre { 
   
        justify-content:end;
        align-items: none;
    }

    .descripcion { 
        display: none;
    }
    .contenido h2 {
        font-size: 2.5em;
    }
}