footer {
    height: 60px;
    background-color: var(--grisC);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    position: sticky;
    bottom: 0;
    z-index: 999;

}

.contenedorCopyright, .contenedorCopyright p  {
    margin: 0;
}


.redes {
    display: flex;
}

.iconosRedes {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;

}

