/* CONTENEDOR GENERAL */

.contenedorPadre {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.contenedorTitulos{
    background-color: var(--amarillo);
    width: 100%;
    height: fit-content;
}

.contenedorImagen{
    display: flex;
    max-width: 200px;
    position: relative;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px)
}

.imagen {
    height: 100%; 
    width: 100%; 
    object-fit: cover;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px)
}

.icono{
    position: absolute;
    font-size: 4em;
    color: var(--amarillo);
}

/*TITULOS DE LA PÁGINA */
.tituloMisReservas{
    padding-left: 0.5em;
    height: 2em;
    padding-top: 0.5em;
}

.subtituloMisReservas{
    margin-top: 1em;
    padding-left: 1em;
    font-size: 1em;
}

.contenedor{
    display: flex;
    margin-top: 0.313px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 3px;
    border-radius: 8px;
    background-color: #FFF;
    padding: 20px;
    width: fit-content;
}

.contenedorFavoritos{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding: 1em;
}

.info{
    margin-left: 2em;
    margin-right: 7em;
}

/* AUTOS MAP*/

.contenedorTodosLosDatos{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    margin-left: 1em;
}

.precio{
    background-color: var(--grisC);
    border-radius: 8px;
    padding: 0.3em;
}

.contenedorDatosAutos{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.tituloAuto{
    font-size: 1.5em;
    font-weight: bold;
    align-self: flex-start;
}

.subtituloAuto{
    font-size: 1em;
    color: var(--grisO);
    margin-bottom: 1em;
}

.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonReserva{
    background-color: var(--amarillo);
    border-radius: 8px;
    border-color: var(--amarillo);
    padding: 0.3rem;
    width: 25%;
    align-self:flex-start;
}

.contenedorFecha{
    display: flex;
    flex-direction: column;
}

.contenedorFecha p{
    font-weight: 400;
}

.flexTodosLosDatos{
    display: flex;
    flex-direction: column;
}

.barraDivisora{
    border-left: 1.5px solid;
    color: var(--amarillo);
}

.tituloYBoton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* SIN RESERVA */
.sinReservaContenedor{
    display: flex;
    justify-content: center;
    width: 70%;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
}


.divPadre {
    height: inherit;
    background-color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divIconoCheck{
    color:var(--amarillo);
    font-size: 3em;}

.divBotonOk {
    width: 200px;
    background-color: var(--amarillo);
    border: 0;
    border-radius: 5px;
    height: 2em;
    font-size: 1rem;
    text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
    color: #4c4e52;
    font-weight: 500;
}



/* RESPONSIVE */