.contenedor {
    padding: 20px;
    
}

.contenedorPadre {
    width: 100%;
    gap: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.664)), url("https://images.pexels.com/photos/1038935/pexels-photo-1038935.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fechaContenedor {
    border-radius: 8px;
    padding: 1rem;
    gap: 1rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contenedorBoton {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.contenedorBoton h5 {
    color: #FFF;
    margin: 0;

}

.botonReserva button {
    width: 200px;
    background-color: var(--amarillo);
    border: 0;
    border-radius: 5px;
    height: 2em;
    font-size: 1rem;
}

.botonReserva button:hover {
    background-color: rgb(255, 220, 123);

}

.fechaContenedorResponsive {
    display: none;
}


@media screen and (max-width:760px) {
    .contenedorPadre {
        display: flex;
        flex-direction: column;
    }
    .fechaContenedor {
        display: none;
    }

    .fechaContenedorResponsive {
        display: block;
    }

    .contenedorBoton {
       display: flex;
       flex-direction: row;
    }
}

@media screen
  and (min-width: 760px)
  and (max-width: 1000px) {

    .contenedorPadre{
        flex-wrap: wrap;
        padding: 10px;

    }
    .contenedorBoton {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
  }