
.reservaArticulo{
padding: 0;
margin: auto;
box-sizing: border-box;
}

.contenedorPadre {
    margin: 0px 244px 0px 244px;
}

.contenedorFormularioReserva {
    background-color: rgba(214, 214, 214, 0.342);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen 
  and (min-width: 760px) 
  and (max-width: 1000px) {
  
    .contenedorPadre {
        margin: 0px;
    }

    section {
        margin:0px;
        padding: 0px;
    }
}

@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)   {
    .contenedorFormularioReserva {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/*

@media only screen   
and (max-device-width : 1300px) {
    .contenedorFormularioReserva {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}  */