
.contenedor {
    height: 70px;
    background-color: var(--grisO);
    width: 100%;
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    text-decoration: none;
    
}

.lema {
    color: #FFF;
    margin: 0px;
}



.navWrap {
    width: 100%;
    margin: 0 auto;
    /* z-index: 20;*/
    display: flex;
    /*position: relative;*/
    align-items: center;
    justify-content: space-between;
    margin: 0;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sesion{
    margin:0;
    padding:0
}



/* Menu Hamburguesa Responsive */

.menuHamburguesa{
    display:none;
}


.menuPadre {
    display: none
}

.menuPadreMostrar {
    display: block;
}

.menuIcon p {
    margin-left: 10px;

}


@media screen and (max-width:760px) {
    .lema, .sesion {
        display:none;
    }

    .menuHamburguesa {
        display: block;
        color: #FFF;
        cursor: pointer;
        font-size: 30px;
    }

    
.menuContenedor {
    position:fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: var(--grisO);
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    top:0;
    

    
    
}

.iconoCierre {
    width: 100%;
    color: #FFF;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

.menuLista {
    width: 200px;
    padding: 0px;
    margin:0px;
    color: #FFF;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.menuIcon:hover {
    background-color: var(--amarillo);
    color: #000;
}

.menuIcon {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    font-size: 1.5em;
    
}

a:link, a:visited, a {
    color: unset;
    text-decoration: none;
    background-color: none;
}

}



/* Componente de Inicio de Sesion*/
.iconoSesion {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: #FFF solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-right: 10px;
    position: relative;
    
    
}

h6 {
    padding: 0px;
    margin: 0px;
    color: var(--amarillo)
}

dl {
    margin: 0px;
    font-size: 0.8em;
}

.iconoCerrar {
    padding:0px;
    cursor: pointer;
    color:#FFF;
}
