

main{ 
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF;

}

 /*NavBar de reserva*/

 .contenedorBuscador, 
 .contenedorFechas, 
 .botonNavBuscador {
    margin: 0px;
    padding: 0px;
 }

.contenedorBuscador {
    z-index:3;
}

.contenedorFechas {
    z-index: 2;
}

.barraBusqueda {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    background-color: var(--amarillo);
    padding: 5px;
    position: relative;
    top: -50px;
    border-color: lightgrey;
    border-radius: 5px;
    font-size: 1em;
}

/* Barra de rango de fecha*/


.rangoFecha{
border: #FFF solid 1px;
background-color: #fff;
color: gray;
padding: 0px 5px 0px 5px;
cursor: pointer;
width: 400px;
position:relative;
border-radius: 3px;
font-family: sans-serif;
font-size: 10;

}



.headerIcon {
    color: var(--amarillo);
    
}

.headerSearchItem {
   
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.headerSearchInput {
    border: none;
    outline: none;
    width: 400px;
    border-radius: 3px;

}



.date {
    position: absolute;
    top:26px;
    left:0px;
}



.prueba3 {
    position: relative;
    padding: 10px;
}

.botonBarra {
    width: 100px;
    border-radius: 3px;
    border: #000 1px solid;
    background-color: var(--grisO);
    color: #FFF;
   
    
}

.botonBarra:hover {
    background-color: transparent;
    color:#000;
    transition: .15s ease-in-out;
}

/* Estilos de searchBar*/



.dataResult{
    width: 300px;
    max-height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 37px;
    left: 32px;
    padding: 0px;
    font-size: 1em;
    
    
}


.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    width: 300px;
    color: #000;
    display: flex;
    
    
}

.dataItem {
   margin:0px;
   
 

}

.prueba:hover {
    background-color: lightgray;
}


.prueba {
    display: inline-flex;
    width: 300px;
    border-bottom: var(--amarillo) 1px solid;
    padding: 10px;
}

.prueba2 {
    padding: 10px;
}

li {
    display: flex;
    flex-direction: column;
}

/*Categorias*/
.contenedorCategorias {
    display: inline-flexbox;
    width: 100%;
    justify-content: center;
    align-items: center;

}

/* Boton buscador*/
.botonNavBuscador {
    padding:10px;
}

.ciudad {
    margin: 0;
    padding:0;
}

@media screen and (max-width:760px) {
    .rangoFecha, .botonBarra, .dataResult .dataItem, .headerSearchInput  {
        width: 350px;
        border-radius: 3px;
        
    }

    .barraBusqueda {
        width: 100%;
        padding:10px;
        border-radius: 0px;
    }
}

@media screen 
  and (min-width: 760px) 
  and (max-width: 1000px) {

    .barraBusqueda { 
        flex-direction: column;
        flex-wrap: nowrap;
    }
  }