

main{ 
    margin-top: 4.5rem; /* Add a top margin to avoid content overlay */
    padding: 0;
    box-sizing: border-box;
    height: 95vh;
}

    /*Banner con imagen*/


 /*NavBar de reserva*/

 .contenedorBuscador, 
 .contenedorFechas, 
 .botonNavBuscador {
    margin: 0px;
    padding: 0px;
 }



.barraBusqueda {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: var(--gris);
    padding: 5px;
    position: relative;
    bottom: 25px;
    border-color: lightgrey;
    border-radius: 5px;
    font-size: 1em;
    flex-wrap: wrap;
}

/* Barra de rango de fecha*/


.rangoFecha{
border: #FFF solid 1px;
background-color: #fff;
color: gray;
padding: 0px 5px 0px 5px;
cursor: pointer;
width: 400px;
position:relative;
border-radius: 3px;
font-family: sans-serif;
font-size: 10;
}



.headerIcon {
    color: var(--amarillo);
    
}

.headerSearchItem {
   
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.headerSearchInput {
    border: none;
    outline: none;
    width: 400px;
    border-radius: 3px;

}



.date {
    position: absolute;
    top:26px;
    left:0px;
}



.prueba3 {
    position: relative;
    padding: 10px;
}

.botonBarra {
    width: 300px;
    border-radius: 3px;
    border: #FFF 1px solid;
    background-color: transparent;
    color: #FFF;
}

.botonBarra:hover {
    background-color: #FFF;
    color:#000;
    transition: .15s ease-in-out;
}

/* Estilos de searchBar*/

.dataResult{
    width: 300px;
    max-height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 37px;
    left: 32px;
    padding: 0px;
    font-size: 1em;
    
    
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    width: 300px;

    color: #000;
    display: flex;
    
    
}

.dataItem {
   margin:0px;
   
 

}

.prueba:hover {
    background-color: lightgray;
}


.prueba {
    display: inline-flex;
    width: 300px;
    border-bottom: var(--amarillo) 1px solid;
    padding: 10px;
}

.prueba2 {
    padding: 10px;
}

li {
    display: flex;
    flex-direction: column;
}

/* Boton buscador*/
.botonNavBuscador {
    padding:10px;
}


@media screen and (max-width:760px) {
    .rangoFecha, .botonBarra, .dataResult .dataItem, .headerSearchInput  {
        width: 350px;
        border-radius: 3px;
        
    }

    .barraBusqueda {
        width: 100%;
        padding:10px;
        border-radius: 0px;
    }
}

