


.heroeContenedor {
    width: 100%;
    background-image: url("../assets/woman.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;

}


.custom-shape-divider-bottom-1666809691 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.contenidoPadre {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    

}

.contenido {

    padding: 2rem;
    background-color: rgba(12, 30, 45, 0.459);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter:  blur(16px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 10PX;

}

.contenido h2 {
    font-size: 3.5em;
    color: #FFF;
}

.descripcion {
    width: 472;
    font-size: 20px;
    color: #FFF;
    line-height: 30px;
    padding-bottom: 20px;
}

@media screen and (max-width:760px) { 

    .contenido {
        padding: 1rem;
    }

    .contenido h2 {
        font-size: 2.5em;
    }
}